

.video{
    width: 100%;
    max-width: 400px;
    max-height: 550px;
    object-fit: fill;
    display: flex;
position: relative;
scroll-snap-align: start;

}
.place_holder{
    width: 100%;
    height: 100%;
    background: black;
scroll-snap-align: start;
position: relative;
}